<div class="chat-header">
  <div class="left-header">
    <div class="header-name">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="terminate-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-space">
  <div class="chats">
    <div class="chat-detail">
      <div class="chat-name">
        Tom
      </div>
      <div class="chat-date">
        2022/4/4(Mon) 16:00:00
      </div>
    </div>
    <div class="chat-sentence">
      おはよう
    </div>
  </div>
  <div class="chats">
    <div class="chat-detail">
      <div class="chat-name">
        Jimmy
      </div>
      <div class="chat-date">
        2022/4/4(Mon) 16:00:00
      </div>
    </div>
    <div class="chat-sentence">
      おはようございます
    </div>
  </div>
</div>

<div class="form">
  <div class="chat-form">
    <input type="text" placeholder="type a message" class="form-input">
    <label class="form-image">
      <span class="imae-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-button">
</div>